<!DOCTYPE html>
<html dir=<%=direction%> lang=<%=language%>>
<!-- Copyright (c) 2000, 2013, Oracle and/or its affiliates. All rights reserved. -->
<!--
* ***************************************************************
*  This software and related documentation are provided under a
*  license agreement containing restrictions on use and
*  disclosure and are protected by intellectual property
*  laws. Except as expressly permitted in your license agreement
*  or allowed by law, you may not use, copy, reproduce,
*  translate, broadcast, modify, license, transmit, distribute,
*  exhibit, perform, publish or display any part, in any form or
*  by any means. Reverse engineering, disassembly, or
*  decompilation of this software, unless required by law for
*  interoperability, is prohibited.
*  The information contained herein is subject to change without
*  notice and is not warranted to be error-free. If you find any
*  errors, please report them to us in writing.
*
*  Copyright (C) 1988, 2014, Oracle and/or its affiliates.
*  All Rights Reserved.
* ***************************************************************
-->
<head>
<title><%=151%></title>
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="<%=viewportInfo%>">  
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">
<%=framebreak%>
<link rel="stylesheet" href="<%=psCtxPath%><%=psHome%>/signin.css" type="text/css" >
</head>
<body>
  <div id="pswrapper">
    <form id="login" name="login" method="post" action="<%=baseFullPath%>/psp<%=psHome%>/?cmd=login&languageCd=<%=languageCd%>" autocomplete="off">
      <input type="hidden" name="httpPort" value="<%=httpPort%>">
      <input type="hidden" name="timezoneOffset" value="0">
      <div>
        <div class="signonMain">
          <img src="<%=psCtxPath%><%=psHome%>/images/Header.png" class="ps-staticimg" alt="<%=138%>" title="<%=138%>">
          <div class="ps_signinentry">
            <div class="ps_box-info">
              <p class="ps_loginmessagelarge"><%=155%></p>
              <p><%=156%><span><%=153%></span></p>
              <p class="ps_loginmessagelarge"><a href="<%=baseFullPath%>/psp<%=psHome%>/?cmd=login&languageCd=<%=languageCd%>"><%=124%></a></p>
            </div>
          </div>	  
	      <IMG SRC="<%=psCtxPath%><%=psHome%>/images/Footer.png" width="100%" alt="">
      	  <footer id="ptfooter" class="ps_footer_text "><%=146%></footer>
        </div>
        </div>
      </div>     
    </form>
  </div>
</body>
</html>
